
  /* IMPORTACION DE FUENTE LOCAL */
@font-face {
  font-family: 'LuloCleanW01-OneBold';
  src: local('LuloCleanW01-OneBold'), url(./fuente.woff) format('woff');
}

  /* ESTILOS BANNER ##################################################################################################*/
.bgimage {
  width: 100%;
  height: 700px;
  background: url("https://i.ibb.co/SfQM1J6/wagon-banner-1.png");
  background-repeat: no-repeat;
  background-position: initial;
  background-size: cover;
  background-attachment: fixed;
}


.circulo-mejor1 {
  position: absolute;
  top: -120px;
  left: -8%;
  width: 340px;
  height: 340px;
  border-radius: 50%;
  background: none;
  border: 4px solid #fdb97a;
}

.bgimage2 {
  width: 100%;
  height: 700px;
  background: url("https://i.ibb.co/TBvfYzM/wagon-banner-2.png");
  background-color: #cccccc;
  position: absolute;
  background-position: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  
}


.bgimage h5 {
  color: white;
  text-shadow: 2px 2px rgb(212, 212, 212);
}


.link {
  font-size: 11.3px;
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 50% 90%;
  background-repeat: no-repeat;
  background-size: 0% 1px;
  transition: background-size 0.02s;
  margin-left: 35px;
  margin-right: 35px;
  color: white;
  letter-spacing: 2px;
  opacity: 0.7;
}

.link:hover,
.link:focus {
  text-decoration: none;
  background-size: 40px 1px;
  color: white;
}



.link {
  color: white;
}

.header .navbar {
  background-color: transparent !important;
  color: white;
  top: 30px;
}
.resaltar-link {
	padding: 1px 3px;
	display: inline-block;
	transition: all .3s linear;
  }
 .resaltar-link:hover {
	transform: scale(1.5, 1.5);
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
	
	color: black;
  }
    
.logo {
	
  font-family: "LuloCleanW01-OneBold", sans-serif;
  font-size: 35px;
  margin-left: 70px;
  margin-right: 70px;
  color: white;
  transform: translateY(-10px);

  opacity: 0.8;
}

.hero {
  font-family: "Lulo Clean", sans-serif;
  text-align: center;
  position: absolute;
  top: 320px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f1ece9;
  width: 100%;
  font-size: 105px;
}

.sub-hero {
  top: 407px;
  left: 50%;
  text-align: center;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 326px;
  font-size: 13px;
  background-color: rgba(0, 0, 0, 0.198);
  height: auto;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 0.9em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  color: white;
  line-height: 1.3;
  border: #f1ece9;
  border-bottom: #f1ece9;
}

.ajuste-alt {
  transform: translateY(-700px);
}
  /* ESTILOS WORK ##################################################################################################*/
.bgimage3 {
  transform: translateY(-116px);
  width: 100%;
  height: 140%;
  background-color: #161415;
  position: absolute;
  background-position: inherit;
  background-repeat: no-repeat;
  background-size: cover;
}

  .resaltar-img {
    
	padding: 1px 3px;
	display: inline-block;
	transition: all .3s linear;
  }
 .resaltar-img:hover {
	transform: scale(1.2, 1.2);
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
	
	color: black;
  }

.circulo {
  position: relative;
  width: 84px;
  height: 84px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #fdb97a;
  top: 48px;
  left: 56px;
}

.huevo {
  position: absolute;
  width: 126px;
  height: 150px;
  background-color: #badde6;
  border-radius: 20% 20% 70% 70% / 50% 50% 90% 90%;
  top: 0px;
  left: -42px;
}
.circulo2 {
  position: relative;
  bottom: -10px;
  left: 81%;
  width: 360px;
  height: 360px;
  border-radius: 50%;
  background: none;
  border: 4px solid #fdb97a;
  clip-path: polygon(0 0, 72% 0%, 72% 100%, 0% 100%);
  

}

.contain {
  overflow: hidden;
  margin: 10px;
  position: relative;
  transform:translateY(400px);
}
.contain > {
  position:absolute;
  left: -100%;
  right: -100%;
  top: -100%;
  bottom: -100%;
  margin: auto;
  min-height: 100%;
  min-width: 100%;
}

.flechas{
  position: absolute;
  right: 8%;
  width: 80px;
  transform: translateY(495px);
}

.triangulo {
  align-content: center;
  position: absolute;
  width: 0;
  height: 0;
  border-right: 680px solid transparent;
  border-top: 100px solid transparent;
  border-left: 680px solid transparent;
  border-bottom: 80px solid #f1ece9;
  bottom: 784px;
}

.hero2 {
  font-family: "Lulo Clean", sans-serif;
  position: absolute;
  top: 55px;
  transform: translate(-50%, 0%);
  transform: translateX(-140px);
  color: #f1ece9;
  width: 600px;
  font-size: 107px;

  letter-spacing: 2px;
  line-height: 1.4;
}

  /* ESTILOS SKILLS ##################################################################################################*/

.bgimage4 {
  width: 100%;
  height: 800px;
  background-color: #f1ece9;
  position: absolute;
  background-position: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  transform: translateY(654px);
}


.imagen-end {
  position: absolute;
  width: 330px;
  top:21%;
  left: 16%;
  z-index: 1;
}

.hero3 {
  font-family: "Lulo Clean", sans-serif;
  position: absolute;
  left: 35%;
  transform: translate(-50%, 0%);
  color: #000000;
  width: 600px;
  font-size: 111px;
  z-index: 2;
  line-height: 1.4;
  transform: translateY(-595px);
}
.text{
  display: flex;
  flex-direction: row;
  padding-left: 380px;
  
}

.section {
  height: 100vh;
}
.contenedor-txt   {
  position: relative;
  display: inline-block;
  transform-origin: center;

}

.skill{
  position: relative;
  top:-60%;
  transform: translateX(680px);
  width: 355px;
  font-size: 11px;
  margin: 35px;
}
.skill-img{
  top: 5px;
  left: 10px;
  width: 60px;
  position: absolute;
  transform: translateX(-100px);
}
.skill-title{
  font-family: "LuloCleanW01-OneBold", sans-serif;
  font-size: 18px;
  color: #88b1c6;
}

footer {
  width: 100%;
  height: 100px;
  background-color: #88b1c6;
  position: absolute;
  background-position: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  transform: translateY(1430px);
}
.footer-titulo{
  font-family: "LuloCleanW01-OneBold", sans-serif;
  position: absolute;
  top: 40%;
  left: 3%;
  font-size: 17px;
}
.footer-p {
  font-family: 'DIN-Regular';
  font-weight:bold;
  font-style: normal;
  font-size: 10px;
  
  line-height: 2;
}


.rrss{
  position: relative;
  top: 22px;
  margin:15px;
  width: 27px;
}

.rrss-contenedor{
  position: absolute;
  right: 25px;
}
