
@import url(//db.onlinewebfonts.com/c/954a505bdd1fd46577f8b93badf61c8c?family=DIN+Condensed);

.bgimage {
	width:100%;
	height:700px;
	background: url('https://i.ibb.co/SfQM1J6/wagon-banner-1.png');
	background-repeat: no-repeat;
	background-position: initial;
	background-size:cover;
	background-attachment: fixed;
  }
  	.bgimage2 {
	width:100%;
	height:700px;
	background: url('https://i.ibb.co/TBvfYzM/wagon-banner-2.png');
	background-color: #cccccc; 
	position: absolute;
	background-position:inherit;
	background-repeat: no-repeat; 
	background-size: cover;
  }

  .bgimage3 {
	transform: translateY(-196px);
	width:100%;
	height:140%;
	background-color: #161415; 
	position: absolute;
	background-position:inherit;
	background-repeat: no-repeat; 
	background-size: cover;
  }

  

  .bgimage4 {
	width:100%;
	height:700px;
	background-color: #F1ECE9; 
	position: absolute;
	background-position:inherit;
	background-repeat: no-repeat; 
	background-size: cover;
	transform: translateY(583px);
  }
  footer {
	width:100%;
	height:100px;
	background-color:  #88B1C6; 
	position: absolute;
	background-position:inherit;
	background-repeat: no-repeat; 
	background-size: cover;
	transform: translateY(1283px);
  }

  .bgimage h5 {
	color:white;
	text-shadow:2px 2px rgb(212, 212, 212);
  }

  .prueba{
	transform: translateY(-700px);
  }

  .link {
	font-size: 11.3px;
	  text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 0% 4px;
    transition: background-size .03s;
    margin-left: 35px;
	margin-right: 35px;
	color: white;
	letter-spacing: 2px;
	opacity: .7;
}

.link:hover, .link:focus {
	text-decoration: none;
    background-size: 40px 2px;
	color: white;
}

.navbar-brand{
	color: white;
}

.header  .navbar{
	background-color: transparent !important;
	color: white;
	top: 30px;
}

.logo{
	font-family: "LuloCleanW01-OneBold", sans-serif;
	font-size: 35px;
    margin-left: 70px;
	margin-right: 70px;
	color: white;
	transform: translateY(-10px);
	
	opacity: .8;
}

.hero {

	font-family: 'Lulo Clean', sans-serif; 
	text-align: center;
		position: absolute;
		top: 320px;
		left: 50%;
		transform: translate(-50%, -50%);
		color: #F1ECE9;
		width: 100%;
		font-size: 105px; 
}

.sub-hero{
	
	top: 407px;
	left: 50%;
	text-align: center;
		position: absolute;
	transform: translate(-50%, -50%);
	width: 326px;
	font-size: 13px;
  background-color: rgba(0, 0, 0, 0.198);
  height: auto;
  text-align: center;
  padding-top: 1em;
  padding-bottom: .9em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  color: white;
  line-height : 1.3;
	border: #F1ECE9;
	border-bottom: #F1ECE9;
}

.circulo {
	position:relative;
	width: 84px;
	height: 84px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background: #FDB97A;
	top: 42px;
	left: 56px;
	
}

.huevo {
	position:absolute;
    width: 126px;
    height: 150px;
    background-color: #BADDE6;
    border-radius: 20% 20% 70% 70% / 50% 50% 90% 90%;
	top: 0px;
	left: -42px;
}
.circulo-mejor {
	position:absolute;
	bottom: -40px;
	right: 0px;
	width: 250px; 
	height: 500px; 
	border: 3.5px solid #FDB97A; 
	background: none;
	-moz-border-radius: 500px 0 0 500px;
	-webkit-border-radius: 500px 0 0 500px;
	border-radius: 500px 0 0 500px;
	clip-path: polygon(0 0, 98% 0, 98% 100%, 0% 100%);
}
.triangulo-equilatero-bottom {
	align-content: center;
	position:absolute;
	width: 0;
	height: 0;
	border-right: 674px solid transparent;
	border-top: 100px solid transparent;
	border-left: 674px solid transparent;
	border-bottom: 100px solid #F1ECE9;
	bottom: 125px;
}

.hero2 {

		font-family: 'Lulo Clean', sans-serif; 
		position: absolute;
		top: 320px;
		left: 18%;
		transform: translate(-50%, 0%);
		color: #F1ECE9;
		width: 600px;
		font-size: 105px; 
}

