$finalHeight: 350px;
$finalWidth2: 500px;
$finalWidth: 5 * $finalHeight;
$scrollBarHeight: 1px;

::-webkit-scrollbar {
  width: $scrollBarHeight;
  height: $scrollBarHeight;
}

::-webkit-scrollbar-button {
  width: $scrollBarHeight;
  height: $scrollBarHeight;
}

body {
  background: rgb(255, 255, 255);
}

div {
  box-sizing: border-box;
}

.horizontal-scroll-wrapper {
  position: absolute;
  display: block;
  top: 28%;
  right: 80%;
  width: calc(#{$finalHeight} + #{$scrollBarHeight});
  max-height: $finalWidth;
  margin: 10px;
  padding-top: $scrollBarHeight;
  background: none;
  overflow-y: auto;
  overflow-x: hidden;
  transform: rotate(-90deg) translateY(-$finalHeight);
  transform-origin: right top;
  & > div {
    display: flex;
    padding-left: 50px;
    background: none;
    transform: rotate(90deg);
    transform-origin: right top;
  }
}

.squares {
  padding: $finalHeight 0 0 0;
  & > div {
    width: $finalHeight;
    height: $finalHeight;
    margin: 115px 0 0 50px;
    padding-top: 70px;
    
  }
}